.heading {
  color: #000;
  font-size: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
